@use '../../config/colors.scss';
@use 'sass:math';

@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: converter(20);
    justify-content: center;
    align-items: center;

    h2 {
        font-size: converter(48);
        font-family: 'Poppins', sans-serif;
        color: colors.$vermelho;
        line-height: converter(60);
    }

    p {
        color: colors.$vermelho;
    }

    .contact-btn {
        padding: converter(12) converter(16);
        border-radius: converter(4);
        border: none;
        background-color: colors.$vermelho-escuro;
        color: colors.$branco;
        font-weight: 700;
        width: 25%;
    }
}